[user]
  email = jonas.bieri@gmail.com
  name = Jonas Bieri
  user = jb3-2
[color]
  ui = auto
[alias]
  lg = log --all --graph --pretty=format:'%Cblue%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
  st = status
  ci = commit
  br = branch
  co = checkout
  dt = difftool
  dts = difftool --staged
[push]
	default = simple
[core]
	editor = /usr/bin/vim
